{% extends "home/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">User Balance Form</h4>
            </div>
            <div class="card-body">
                {{form.errors}}
                <form method = 'POST'>
                    {% csrf_token %}

                    <div class="form-group">
                        <label>User</label>
                        {{form.user}}
                    </div>
                    <div class="form-group">
                        <label>Balance</label>
                       {{form.balance}}
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}