{% extends "home/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Book Form</h4>
            </div>
            <div class="card-body">
                <form method = 'POST' enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Name</label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label>File</label>
                        {{form.file}}
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        {{form.image}}
                    </div>
                    <div class="form-group">
                        <label>Publication</label>
                        {{form.publication}}
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        {{form.genre}}
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        {{form.author}}
                    </div>
                    <div class="form-group">
                        <label>Edition</label>
                        {{form.edition}}
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        {{form.rating}}
                    </div>
                    <div class="form-group">
                        <label>ISBN Number</label>
                        {{form.ISBN_number}}
                    </div>
                    <div class="form-group">
                        <label>Page Number</label>
                        {{form.page_number}}
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        {{form.description}}
                    </div>
                    <div class="form-group">
                        <label>Demo Text</label>
                        {{form.demo_text}}
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        {{form.price}}
                    </div>
                    <div class="form-group">
                        <label>Volume</label>
                        {{form.volume}}
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        {{form.language}}
                    </div>
                    <div class="form-group">
                        <label>is active</label>
                       {{form.is_active}}
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}